@page "/Settings/Staffs"
@using Microsoft.EntityFrameworkCore
@using AcademicYearCalendar.Data
@inject AppDbContext AppDbContext
@rendermode InteractiveServer

<h1>إدارة هيئة اعضاء التدريس</h1>
<hr />
<div style="height:50px">
</div>
@if (Status == "Add" || Status == "Edit")
{
    <AddEditStaff Staff="@selectedStaff" Status="@Status" OnDone="OnDone"></AddEditStaff>
}

@if (Status == "List")
{
    <FluentButton Appearance="Appearance.Accent" @onclick="AddOnClick" IconStart="@(new Icons.Regular.Size16.Add())">اضافة عضو هيئة التدريس</FluentButton>
    <FluentDataGrid Items="@staffs" MultiLine="true" Pagination="@pagination">
        <PropertyColumn Property="@(p => p.StaffName)" Title="اسم عضو هيئة التدريس" />
        <TemplateColumn Title="">
            <FluentButton Appearance="Appearance.Accent" @onclick="()=> EditOnClick(context)" IconStart="@(new Icons.Regular.Size16.Edit())">تعديل البيانات</FluentButton>
        </TemplateColumn>
    </FluentDataGrid>
    <FluentPaginator State="@pagination" />
}

@code {
    PaginationState pagination = new PaginationState { ItemsPerPage = 5 };
    private IQueryable<Staff> staffs;
    private Staff selectedStaff;

    private string Status = "List";

    protected override void OnInitialized()
    {
        loadStaffs();
    }

    private void loadStaffs()
    {
        staffs = AppDbContext.Staff;
    }
    void AddOnClick()
    {
        Status = "Add";
    }

    void EditOnClick(Staff staff)
    {
        selectedStaff = staff;
        Status = "Edit";
    }

    void OnDone()
    {
        loadStaffs();
        Status = "List";
    }

}
